Implementation/WebTier/WebContent/JavaScript/Source/TreeWidget/TreeNode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TreeNode" xmlns:tns="http://www.example.org/TreeNode">
	<attribute name="id" type="token"></attribute>

	<complexType name="NodeType">
		<attribute name="nodeId" type="token"></attribute>
	</complexType>

</schema>