Implementation/WebTier/Schemas/SmartDocument.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified">
  <xs:element name="smartDocumentDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="description"/>
        <xs:element ref="version"/>
        <xs:element ref="resources"/>
        <xs:element ref="documentHeader" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="documentBody" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="documentFooter" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="name" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="version" type="xs:decimal"/>

  <xs:element name="resources">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="styleSheets" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="images" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="javaScripts" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="styleSheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="styleSheet" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="styleSheet" type="xs:string"/>

  <xs:element name="images">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="image">
    <xs:complexType mixed="true">
      <xs:attribute name="id" use="optional" type="xs:NCName"/>
      <xs:attribute name="title" use="optional" type="xs:NCName"/>
	</xs:complexType>
  </xs:element>

  <xs:element name="javaScripts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="javaScript" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="javaScript" type="xs:string"/>

  <xs:element name="documentHeader">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="CompositeElement">
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="documentBody">
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="CompositeElement">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
        </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="documentFooter">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="CompositeElement">
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CompositeElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="element" type="Element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dataElement" type="DataElement" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="compositeElement" type="CompositeElement" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="compositeDataElement" type="CompositeDataElement" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:extension>
	</xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CompositeDataElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="CompositeElement">
        <xs:choice>
        </xs:choice>
	    <xs:attribute name="bind" use="required" type="xs:string"/>
        <xs:attribute name="maxOccures" use="optional" type="xs:NCName"/>
	    <xs:attribute name="minOccures" use="optional" type="xs:NCName"/>
    	<xs:attribute name="source" use="optional" type="xs:string"/>
      </xs:extension>
	</xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Element" mixed="true">
    <xs:sequence>
	  <xs:element name="plugin" type="Plugin" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="elementStyle" use="optional" type="xs:NCName"/>
    <xs:attribute name="href" type="xs:anyURI"/>
    <xs:attribute name="id" use="optional" type="xs:NCName"/>
    <xs:attribute name="tag" use="optional" type="xs:NCName"/>
  </xs:complexType>

  <xs:complexType name="Plugin">
    <xs:sequence>
        <xs:element ref="resources"/>
		<xs:element name="widget" type="Widget" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Widget">
    <xs:sequence>
	  <xs:element name="options" type="Options" minOccurs="0" maxOccurs="1" />
	</xs:sequence>
	<xs:attribute name="name" type="xs:NCName" />
  </xs:complexType>

  <xs:complexType name="Options">
    <xs:sequence>
	  <xs:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Option">
    <xs:sequence></xs:sequence>
	<xs:attribute name="name" type="xs:string" />
	<xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="DataElement">
    <xs:complexContent>
      <xs:extension base="Element">
	    <xs:attribute name="bind" use="required" type="xs:string"/>
        <xs:attribute name="maxOccures" use="optional" default="1">
          <xs:simpleType>
            <xs:union>
              <xs:simpleType>
                <xs:restriction base='xs:nonNegativeInteger'/>
              </xs:simpleType>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='unbounded'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:union>
          </xs:simpleType>
		</xs:attribute>
	    <xs:attribute name="minOccures" type="xs:nonNegativeInteger" use="optional" default="1"/>
    	<xs:attribute name="source" use="optional" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
